	/*font-family: 'Lobster' , sans-serif;*/
p {
	font-size: 24px;
}

#one { font-family: 'Questrial', sans-serif; }

#two { font-family: 'Marcellus SC', serif; }

#three { font-family: 'Noto Sans', sans-serif; }

#four { font-family: 'Acme', sans-serif; }

#five { font-family: 'Josefin Sans', sans-serif; }

#six { font-family: 'Marcellus', serif; }

#seven { font-family: 'Advent Pro', sans-serif; }

#eight { font-family: 'Karma', serif; }

#nine { font-family: 'Laila', serif; }

#ten { font-family: 'Didact Gothic', sans-serif; }

#eleven { font-family: 'Julius Sans One', sans-serif; }

#tweleve { font-family: 'Actor', sans-serif; }

#thirteen { font-family: 'Titillium Web', sans-serif; }

#fourteen { font-family: 'Quattrocento Sans', sans-serif; }

#fifteen { font-family: 'Lobster' , sans-serif; }